#define base_foreground #fffaf4
#define base_background #0e1019
#define base_color0 	#232323
#define base_color1 	#ff000f
#define base_color2 	#8ce10b
#define base_color3 	#ffb900
#define base_color4 	#008df8
#define base_color5 	#6d43a6
#define base_color6 	#00d8eb
#define base_color7 	#ffffff
#define base_color8 	#444444
#define base_color9 	#ff2740
#define base_color10 	#abe15b
#define base_color11 	#ffd242
#define base_color12 	#0092ff
#define base_color13 	#9a5feb
#define base_color14 	#67fff0
#define base_color15 	#ffffff

#define base_custom_foreground 			#d3dae3
#define base_custom_background_dark 	#404552
#define base_custom_background_light 	#666a73
#define base_custom_primary 			#3daee9
#define base_custom_warn 				#da4453

URxvt.scrollBar: false
URxvt*foreground:           #666699

!--------------------xdefauls
Urxvt*font: xft:Terminus:pixelsize=12,xft:Inconsolata\ for\ Powerline:pixelsize=12
URxvt.letterSpace: -.2
Xft*dpi: 96
Xft*antialias: true
Xft*hinting: true
Xft*hintstyle: hintfull
URxvt*cursorUnderline: true
Xft*rgba: rgb
URxvt*geometry: 90x20
*internalBorder: 18
URxvt*fading: 0
URxvt*tintColor: #ffffff
URxvt*shading: 0
URxvt*inheritPixmap: False
URxvt*background:	#20242c
*foreground:	#b3b8c4

*custom_foreground: 		base_custom_foreground
*custom_background_dark: 	base_custom_background_dark
*custom_background_light: 	base_custom_background_light
*custom_primary: 			base_custom_primary
*custom_warn:				base_custom_warn

URxvt*color0:	#3e4853
URxvt*color1:	#b06a58
URxvt*color2:	#95b47b
*color3:	#e5c078
*color4:	#58698c
*color5:	#7b5e8d
*color6:	#82a1b2
*color7:	#cccaca

*color8:	#525c67
*color9:	#ba7e6c
*color10:	#a9c88f
*color11:	#f9d48c
*color12:	#6c7da0
*color13:	#8f72a1
*color14:	#96b5c6
*color15:	#e0dede

! Rofi Settings
rofi.width:				750
rofi.padding:			5
rofi.fullscreen: 		false
rofi.fixed-num-lines: 	true
rofi.bw:				1
rofi.location:			0
rofi.terminal:			alacritty
rofi.lines:				10
rofi.eh:				1
rofi.hide-scrollbar: 	true
rofi.separator-style: 	solid
rofi.font:      		Iosevka Term 10px
rofi.show-icons:        false
rofi.dpi:				96

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
! 					background						foreground					background alt					highlight background			highlight foreground
rofi.color-window: 	base_custom_background_dark, 	base_custom_primary,     	base_custom_primary
rofi.color-normal: 	base_custom_background_dark, 	base_custom_foreground, 	base_custom_background_dark, 	base_custom_primary, 			base_custom_foreground
rofi.color-active: 	base_custom_background_dark, 	base_custom_primary,     	base_custom_background_dark, 	base_custom_primary, 			base_custom_primary
rofi.color-urgent: 	base_custom_background_dark, 	base_custom_foreground, 	base_custom_background_dark, 	base_custom_primary, 			base_custom_foreground

